html {
    height: 100%;
    font-size 16px
}

body {
    font: 1em/1.2 'Arial', sans-serif;
    height: 100%
}

.show-menu {
    overflow: hidden
}

* {
    box-sizing border-box

    &:before, &:after {
        box-sizing border-box
    }
}

.wrapper {
    display: flex
    flex-direction:column
    justify-content space-between
    min-height 100vh

}

